html,
body {
  font-family:  "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
}

[class*='col-xs'] {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  border: 3px white solid;
  padding-top: 10px;
}

.col-sm-12 {
  border: 2px solid black;
  color: #000;
  padding-top: 10px;
}

.banner{
  font-size: 50px;
}

.description {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.leftside,
.content{
  height: 500px;
}

.new-task,
.edit {
  width: 100%;
  font-size: 16px;
  font-style: italic;
  /*font-weight: 300;*/
  color: #000;
  padding: 4px;
  border-left: 2px solid #2db34a;
  border-right: 2px solid #2db34a;
}

/*.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}*/

/*label[for='toggle-all'] {
  display: none;
}*/

/*.toggle-all {
  position: absolute;
  top: -38px;
  left: -22px;
  width: 60px;
  height: 34px;
  text-align: center;
  border: none;
}
.toggle-all:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}
.toggle-all:checked:before {
  color: #737373;
}
.toggle-all {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-appearance: none;
  appearance: none;
}*/

.task-list {
  padding: 0;
  /*margin: 0;*/
  list-style: none;
}

.task-list li {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  padding: 12px 0px 12px 12px;
  font-size: 14px;
  line-height: .5em;  
  border-bottom: 1px solid #ededed;
}

/*.task-list li label {*/
  /*white-space: pre;*/
  /*word-break: break-word;*/
  /*padding: 15px 0;*/
  /*margin-left: 20px;*/
  /*display: block;*/
  /*line-height: 1.2;*/
  /*transition: color 0.4s;*/
/*}*/

.task-list li:last-child {
  border-bottom: none;
}

/*.task-list li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}*/

.task-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 6px;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: red;
  background: transparent;
  transition: color 0.2s ease-out;
}

.task-list li .destroy:hover {
  color: #af5b5e;
}

.task-list li .destroy:after {
  content: '×';
}

.task-list li:hover .destroy {
  display: block;
}

.task-list li .edit {
  display: none;
}

.task-list li.editing:last-child {
  margin-bottom: -1px;
}

.task-list li.editing {
  border-bottom: none;
  padding: 0;
}

.task-list li.editing .edit {
  display: block;
  /*width: 506px;*/
  /*padding: 13px 17px 12px 17px;*/
  /*margin: 0 0 0 43px;*/
}

.task-list li.editing .view {
  display: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}



.timer{
  font-size: 66px;
  color: red;
}

.clock{
  margin-top: 10px;
  font-size: 20px;
}

/*button,
input[type="checkbox"] {
  outline: none;
}*/