html,
body {
  font-family:  "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.content-box {
  text-align: center;
  padding: 15px;
}

header,
section,
aside,
footer {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  margin: 0 1% 18px 1%;
  vertical-align: top;
}

aside {
  display: inline-block;
  width: 33%;
  height: 500px;
}
section {
  display: inline-block;
  width: 63%;
  height: 500px;
}
footer {
  margin-bottom: 0;
}

.banner{
  font-family: inherit;
  font-size: 50px;
  margin: 10px;
}

.description{
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: inherit;
  margin: 0 100px;
}

.task-box{
  max-width: 300px; 
  min-width: 250px;
  margin: 15px auto;
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

label[for='toggle-all'] {
  display: none;
}

.toggle-all {
  position: absolute;
  top: -38px;
  left: -22px;
  width: 60px;
  height: 34px;
  text-align: center;
  border: none;
}

.toggle-all:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.toggle-all:checked:before {
  color: #737373;
}

.toggle-all {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-appearance: none;
  appearance: none;
}

.new-task,
.edit {
  width: 85%;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  padding: 6px 6px 6px 40px;
  border: none;

}
.task-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.task-list li {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  font-size: 16px;
  line-height: .5em;  
  border-bottom: 1px solid #ededed;
}

.task-list li label {
  /*white-space: pre;
  word-break: break-word;*/
  padding: 15px 0;
  margin-left: 45px;
  display: block;
  /*line-height: 1.2;*/
  transition: color 0.4s;
}

/*.task-list li:hover {
  background: #65f558;
}*/

.task-list li:last-child {
  border-bottom: none;
}

.task-list li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.task-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 6px;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: red;
  background: transparent;
  /*margin-bottom: 11px;*/
  transition: color 0.2s ease-out;
}

.task-list li .destroy:hover {
  color: #af5b5e;
}

.task-list li .destroy:after {
  content: '×';
}

.task-list li:hover .destroy {
  display: block;
}

.task-list li .edit {
  display: none;
}

.task-list li.editing:last-child {
  margin-bottom: -1px;
}

.task-list li.editing {
  border-bottom: none;
  padding: 0;
}

.task-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

.task-list li.editing .view {
  display: none;
}

.taskapp {
  background: #fff;
  margin: 130px 0 40px 0;
  left: 50px;
  top: 50px;
  margin: 0;
  width: 65%;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
               0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

button,
input[type="checkbox"] {
  outline: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.timer{
  position: relative;
  font-size: 66px;
  color: red;
  top: 20px;
}

.tomato{
  position: relative;
  top: 40px;
}

.btn {
  border-radius: 28px;
  font-family: inherit;
  color: #ffffff;
  font-size: 16px;
  background: #2db34a;
  padding: 10px 17px;
  border: solid #ffffff 2px;
  text-decoration: none;
  outline: 0;
}

.btn:hover {
  background: #65f558;
}


.active{
  border: solid #ffff00 2px;
}

.bigger{
  animation-duration: 1s; 
  animation-name: pulse;
  animation-timing-function: ease; 
  animation-delay: 0;
  animation-iteration-count: 4;
  animation-direction: normal;
}

@keyframes pulse {
  50% {
    transform: scale(.7);
  }
  100%{
    transform: scale(1);
  }
}