<!doctype html>
<html ng-app="powertimerApp">
  <head>
    <title>PowerTimer</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="TaskCtrl">
    <div class="container">
      <div class="row">
      <div class="col-xs-12">
        <p class="text-center banner">PowerTimer</p>
      </div>
            <div class= "col-xs-4 leftside">
                <form ng-submit="addTask()">
                  <input class="new-task" placeholder="What have you done?" ng-model="newTask">
                </form>

                <ul class="task-list">
                  <li ng-repeat="task in tasks | orderBy: '-created'" ng-class="{editing: task == editedTask}">
                    <label ng-dblclick="editTask(task)">{{task.title}}</label>
                    <button class="destroy" ng-click="removeTask(task)"></button>
                    <form ng-submit="doneEditing(task)">
                      <input class="edit" ng-model="task.title" task-escape="revertEditing(task)" task-blur="doneEditing(task)" task-focus="task == editedTask">
                    </form>
                  </li>
                </ul>
                
            </div>
            <div class="col-xs-8 text-center content">
              <p class="clock">Current time is: <span my-current-time></span></p>
              <hr/>
              <power-timer></power-timer>
              <img ng-class="{'bigger':showBoxOne}" src="/images/tomato.png">
            </div>
      <div class="col-xs-12">
        <p class="text-center description">The Pomodoro Technique is a time management method developed by Francesco Cirillo in the late 1980s. The technique uses a timer to break down work into intervals traditionally 25 minutes in length, separated by short breaks. These intervals are known as "pomodori", the plural of the Italian word pomodoro for "tomato". The method is based on the idea that frequent breaks can improve mental agility.</p>
      </div>
      </div>
    </div>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/buzz/dist/buzz.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/task.js"></script>
    <script src="scripts/directives/taskEscape.js"></script>
    <script src="scripts/directives/taskFocus.js"></script>
    <script src="scripts/directives/taskBlur.js"></script>
    <!-- endbuild -->
  </body>
</html>
